
* {/* Reset de estilos */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Pacifico", cursive;
    background-color: #f5f5dc;
    line-height: 1.6; 
    position:relative;
}
body::after {
    content: ""; /* Añade contenido a ::after para que pueda tener dimensiones */
    background-image: url('fondo.jpeg'); /* Establece la imagen de fondo */
background-position:center;
    opacity: 0.5; /* Ajusta el valor según la opacidad deseada (0 = completamente transparente, 1 = completamente opaco) */
    position: absolute; /* Establece posición absoluta para que cubra todo el body */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1; /* Envía ::after detrás de todos los demás elementos */
}
header {
    background-color: #f9dfe5;
    color: #555555;
    text-align: center;
    padding: 25px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom:5px;
    border-bottom: 2px solid #e0e0e0; /* Borde inferior */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
aside {
       width: 15%; /* Ancho del aside */
        float: left; /* Alineación a la izquierda */
        margin-right: 20px; /* Margen derecho para separarlo del contenido principal */
        background-color: #f0f0f0; /* Color de fondo */
        padding: 20px; /* Espacio interno */
           border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);


    }
.slider-container {
    width: 30%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    margin-right:500px;
}


.slider {
    display: flex;
}

.slider-img {
    width: 100%;
    height: auto;
    display: none; /* Ocultar todas las imágenes inicialmente */
}
#redes{
    display:flex;
    align-items:center;
    padding:5px 40px 10px
}
.slider-img:first-child {
    display: block; /* Mostrar solo la primera imagen */
}
.prev, .next {
   position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            font-size: 1.5rem;
            color: black;
            background-color:wihte;
            border: none;
            padding: 10px 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.prev {
    left: 7px;
    opacity: 0.5;
}

.next {
    right: 7px;
    opacity: 0.5;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    color: #555555;
    background-color: #f5f5dc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.service-list {
    list-style-type: none;
}

.service-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.service-item img {
    margin-right: 10px;
}

footer {
    background-color: #d8cdd9;
    color: #555555;
    text-align: center;
    padding: 7px 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    align-items:center; 
}
